before_install:
  - npm i -g makeshift && makeshift -s @bloomberg -r registry.npmjs.org

language: node_js

node_js:
  - "8"
  - "lts/*"
  - "node"

script: 
  - npm run lint
  - npm run test

branches:
  only:
  - master

deploy:
  provider: npm
  email: ossbuild@bloomberg.net
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    tags: true
    condition: -n "$NPM_TOKEN"
